{%extends "base.html" %}
{% block title %}Bensínstöðvar{% endblock %}
{%block content %}
<table>
    <caption>
        Allar stöðvar fyrirtæksins
    </caption>
    <tr>
        <th>Fyrirtæki</th>
        <th>Staður</th>

    </tr>
    {% set cnt = [] %}
    {% for item in gogn["results"] %}
    <tr>
        
        {% if item.company == com %}
        {% do cnt.append(item.company) %}
        <td>{{item.company}}</td>
        <td><a href="/moreinfo/{{item.key}}">{{ item.name }}</a></td>
        {% endif %}
    </tr>
    
    {% endfor %}
</table>
<h3>Fjöldi stöðva {{ cnt | length }} </h3>
{% endblock %}